@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); */
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
:root {
  --softShadow: rgba(0, 0, 0, 0.2) 0px 10px 12px;
  --cardShadow: 0 0 12px 1px rgba(0, 0, 0, 0.05);
}
@font-face {
  font-family: "geist-regular";
  src: url("/fonts/GTEestiProDisplay-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "geist-light";
  src: url("/fonts/GTEestiProDisplay-Light.woff");
  font-display: swap;
}
@font-face {
  font-family: "geist-medium";
  src: url("/fonts/GTEestiProDisplay-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "DM_sans";
  src: url("/fonts/DM_sans.ttf");
  font-display: swap;
}
body {
  /* background-color: #f9f9f9; */
}
* {
  font-family: geist-regular, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.hide-scrollbar::-webkit-scrollbar {
  appearance: none;
  display: none;
}
.GTE_regular {
  font-family: geist-regular;
  /* filter: drop-shadow(); */
}
.GTE_light {
  font-family: geist-light !important;
}
.GTE_medium {
  font-family: geist-medium !important;
}
.GTE_bold {
  font-family: geist-bold !important;
}
/* .trend_posts_shadow {
  --color: rgba(0, 0, 0, 0.2);
  --blur: 5px;
  --tpx: 0px;
  --rpx: 0px;
  --bpx: 0px;
  --lpx: 0px;
  box-shadow: 0 0 var(--blur) var(--color); /* note 0 offset values */
  /* clip-path: inset(var(--tpx) var(--rpx) var(--bpx) var(--lpx)); */
/* } */
.trend_posts_shadow {
  position: relative;
  display:block;
}

.trend_posts_shadow::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -2px; /* Adjust the offset to position shadow properly */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 10px;
  background: rgba(0, 0, 0, 0.8); /* Adjust the shadow color and transparency */
  border-radius: 50%;
  filter: blur(10px); /* Adjust the blur effect */
  z-index: 1; /* Ensure shadow appears behind the image */
}
